{% load static %}
<footer>
    <div class="container">
        <div class="footer-content">
            <div class="row">
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="footer-col -about">
                        <div class="center-line-title">
                            <h5>About us</h5>
                        </div>
                        <p>{{ info.about_us|truncatechars:115|safe }}</p>
                        <div class="contact-method">
                            <p><i class="fas fa-map-marker-alt"></i>{{ info.adress }}</p>
                            <p><i class="far fa-mobile-android"></i>+{{ info.phone }}</p>
                            <p><i class="far fa-envelope-open"></i>{{ info.email }}</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="footer-col -feature-post">
                        <div class="center-line-title">
                            <h5>Feature posts</h5>
                        </div>
                        <div class="feature-post-block">
                            {% for foot in bests %}
                                <div class="post-card -tiny">
                                    <a class="card__cover" href="{% url 'post_view' foot.slug %}">
                                        <!-- img size 360 x 360 -->
                                        <img src="{{ foot.main_picture.url }}"
                                             alt="Best Open Source Tools For Developers"/>
                                    </a>
                                    <div class="card__content">
                                        <h5 class="card__content-category">{{ blog.title }}</h5>
                                        <a class="card__content-title" href="{% url 'post_view' foot.slug %}">
                                            {{ foot.title|truncatechars:50|safe }}
                                        </a>
                                        <div class="card__content-info">
                                            <div class="info__time"><i class="far fa-clock"></i>
                                                <p>Clock Wed 02, 2020</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            {% endfor %}


                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-12 col-lg-4">
                    <div class="footer-col -util">
                        <div class="row">
                            <!-- Blog Tags -->
                            <div class="col-12 col-md-6 col-lg-12">
                                <div class="center-line-title">
                                    <h5>Blog Tags</h5>
                                </div>
                                <div class="categories-group">
                                    {% for category in categories %}
                                        {% if category.blog_count > 0 %}
                                            <a class="tag-btn"
                                               href="{% url 'blog_category_view'  category.slug %}">{{ category.name }}</a>

                                        {% endif %}
                                    {% endfor %}

                                </div>
                            </div>
                            <!-- Social Media -->
                            <div class="col-12 col-md-6 col-lg-12">
                                <div class="center-line-title">
                                    <h5>Follow us</h5>
                                </div>
                                <div class="social-block">
                                    <a href="{{ info.social.facebook }}"><i class="fab fa-facebook-f"></i></a>
                                    <a href="{{ info.social.twitter }}"><i class="fab fa-twitter"></i></a>
                                    <a href="{{ info.social.instagram }}"><i class="fab fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <p>© 2020, Fuse - All rights reserved.</p>
        </div>
    </div>
</footer>