{% extends 'auth/base.html' %}

{% load static %}
{% block title %}
    Register Page
{% endblock %}

{% block main_content %}

    <section class="signup">
    <div class="container">
        <div class="signup-content">
            <div class="signup-form">
                <h2 class="form-title">Sign up</h2>
                <form method="POST" action="{% url 'register_view' %}" class="register-form" id="register-form">
                    {% csrf_token %}


                    <div class="form-group">
                        <label for="name"><i class="zmdi zmdi-account material-icons-name"></i></label>
                        <input type="text" name="username" id="username" placeholder="Username"
                               {% if errors.username %}value="{{ request.POST.username }}" {% endif %}/>
                    </div>
                    {% if errors.username %}
                        <a style="color: red">{{ errors.username }}</a>
                    {% endif %}

                    <div class="form-group">
                        <label for="email"><i class="zmdi zmdi-email"></i></label>
                        <input type="email" name="email" id="email" placeholder="Your Email"
                               {% if errors.email %}value="{{ request.POST.email }}" {% endif %}/>
                    </div>
                    {% if errors.email %}
                        <a style="color: red">{{ errors.email }}</a>
                    {% endif %}
                    <div class="form-group">
                        <label for="phone"><i class="zmdi zmdi-phone"></i></label>
                        <input type="tel" name="phone" id="phone" placeholder="(99) 123-45-67"
                               {% if errors.phone %}value="{{ request.POST.phone }}{% endif %}"/>
                    </div>

                    {% if errors.phone %}
                        <a style="color: red">{{ errors.phone }}</a>
                    {% endif %}
                    <div class="form-group">
                        <label for="pass"><i class="zmdi zmdi-lock"></i></label>
                        <input type="password" name="password" id="pass" placeholder="Password"/>
                    </div>
                    <div class="form-group">
                        <label for="re-pass"><i class="zmdi zmdi-lock-outline"></i></label>
                        <input type="password" name="confirm_password" id="re_pass"
                               placeholder="Repeat your password"/>
                    </div>
                    {% if errors.password %}
                        <a style="color: red">{{ errors.password }}</a>
                    {% endif %}
                    <div class="form-group">
                        <input type="checkbox" name="agree-term" id="agree-term" class="agree-term"/>
                        <label for="agree-term" class="label-agree-term"><span><span></span></span>I agree all
                            statements in <a href="#" class="term-service">Terms of service</a></label>
                    </div>
                    <div class="form-group form-button">
                        <button name="signup" id="signup" class="form-submit" value="Sign up">
                            submit
                        </button>
                    </div>
                </form>
            </div>
            <div class="signup-image">
                <figure>
                    <img src="https://colorlib.com/etc/regform/colorlib-regform-7/images/signup-image.jpg"
                         alt="sing up image">
                </figure>
                <a href="{% url 'login_view' %}" class="signup-image-link">I am already member</a>
            </div>
        </div>
    </div>
    <script src="{% static '/vendor/jquery/jquery-3.2.1.min.js' %}"></script>
    <script>$(document).ready(function () {
        $("#phone").mask("(99) 999-99-99");
    });</script>
    <script src="{% static '/vendor/bootstrap/js/popper.js' %}"></script>
    <script src="{% static '/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
    <script src="{% static '/vendor/select2/select2.min.js' %}"></script>
    <script src="{% static '/vendor/tilt/tilt.jquery.min.js' %}"></script>
    <script src="{% static 'auth/js/jquery.maskedinput.min.js' %}"></script>


    <script src="{% static 'auth/js/main.js' %}"></script>


{% endblock %}



