{% load static %}
<!DOCTYPE html>
<html
        lang="en">
<head
        itemscope="" itemtype="http://schema.org/WebSite"><title
        itemprop="name">Preview Bootstrap snippets. about me</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="description"
          content="Preview Bootstrap snippets. about me. Copy and paste the html, css and js code for save time, build your app faster and responsive">
    <meta name="keywords"
          content="bootdey, bootstrap, theme, templates, snippets, bootstrap framework, bootstrap snippets, free items, html, css, js">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport">
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" type="image/x-icon" href="https://www.bootdey.com/img/favicon.ico">
    <link rel="apple-touch-icon" sizes="135x140" href="https://www.bootdey.com/img/bootdey_135x140.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://www.bootdey.com/img/bootdey_76x76.png">
    <link rel="canonical" href="https://www.bootdey.com/snippets/preview/about-me" itemprop="url">
    <meta property="twitter:account_id" content="2433978487"/>
    <meta name="twitter:card" content="summary">
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@bootdey">
    <meta name="twitter:creator" content="@bootdey">
    <meta name="twitter:title" content="Preview Bootstrap  snippets. about me">
    <meta name="twitter:description"
          content="Preview Bootstrap snippets. about me. Copy and paste the html, css and js code for save time, build your app faster and responsive">
    <meta name="twitter:image" content="https://www.bootdey.com/files/SnippetsImages/bootstrap-snippets-1060.png">
    <meta name="twitter:url" content="https://www.bootdey.com/snippets/preview/about-me">
    <meta property="og:title" content="Preview Bootstrap  snippets. about me">
    <meta property="og:url" content="https://www.bootdey.com/snippets/preview/about-me">
    <meta property="og:image" content="https://www.bootdey.com/files/SnippetsImages/bootstrap-snippets-1060.png">
    <meta property="og:description"
          content="Preview Bootstrap snippets. about me. Copy and paste the html, css and js code for save time, build your app faster and responsive">
    <link rel="alternate" type="application/rss+xml"
          title="Latest snippets resources templates and utilities for bootstrap from bootdey.com:"
          href="http://bootdey.com/rss"/>
    <link rel="author" href="https://plus.google.com/u/1/106310663276114892188"/>
    <link rel="publisher" href="https://plus.google.com/+Bootdey-bootstrap/posts"/>
    <meta name="msvalidate.01" content="23285BE3183727A550D31CAE95A790AB"/>
    <script src="/cache-js/cache-1635427806-97135bbb13d92c11d6b2a92f6a36685a.js" type="text/javascript"></script>
</head>
<body>


<div id="snippetContent">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
    <section class="section about-section gray-bg" id="about">

        <div class="container">
            <form action="{% url 'user_update_view' user.username %}" method="{% if editable %}post{% endif %} "
                  enctype="multipart/form-data">
                <div class="row align-items-center flex-row-reverse">
                    <div class="col-lg-6">
                        <div class="about-text go-to">
                            <h3 class="dark-color">
                                About Me
                            </h3>
                            {% csrf_token %}
                            <div class="row about-list">
                                <div class="col-12 col-lg-9">
                                    {#                                <div class="col-10 col-md-9">#}
                                    <div class="media">
                                        <p>
                                            <label>
                                                Username:
                                            </label>
                                        </p>
                                        <input style="width: 300px; margin-left: 20px" type="text" class="form-control"
                                               id="usr" value="{{ edit_user.username }}" name="username"
                                               {% if not editable %}readonly{% endif %}>

                                    </div>
                                    <div class="media">
                                        <p>
                                            <label>
                                                First name:
                                            </label>
                                        </p>
                                        <input style="width: 300px; margin-left: 20px" type="text" class="form-control"
                                               id="usr" value="{{ edit_user.first_name }}" name="first_name"
                                               {% if not editable %}readonly{% endif %}>
                                    </div>
                                    <div class="media">
                                        <p>
                                            <label>
                                                Last name:
                                            </label>
                                        </p>
                                        <input style="width: 300px;margin-left: 20px" type="text" class="form-control"
                                               id="usr" value="{{ edit_user.last_name }}" name="last_name"
                                               {% if not editable %}readonly{% endif %}>
                                    </div>
                                    <div class="media">
                                        <p>
                                            <label>
                                                Birthday:
                                            </label>
                                        </p>
                                        <a style="width: 300px;margin-left: 20px">
                                            <div class="well">
                                                <div id="datetimepicker4" class="input-append">
                                                    {#                                                <input value="<?= date({{ user.birthday_date }}) ?>" type="date">#}
                                                    <input value="{{ edit_user.birthday|date:'c' }}" type="date"
                                                           name="birthday" {% if not editable %}readonly{% endif %}>
                                                    <span class="add-on">
                                                  <i data-time-icon="icon-time" data-date-icon="icon-calendar">
                                                  </i>
                                                </span>
                                                </div>
                                            </div>

                                        </a>
                                    </div>
                                    <div class="media">
                                        <p>
                                            <label>
                                                E-mail:
                                            </label>
                                        </p>
                                        <input style="width: 300px;margin-left: 20px" type="text" class="form-control"
                                               id="usr" value="{{ edit_user.email }}" name="email" readonly="true">
                                    </div>
                                    <div class="media">
                                        <p>
                                            <label>
                                                Phone:
                                            </label>
                                        </p>
                                        <input style="width: 300px;margin-left: 20px" type="number" class="form-control"
                                               id="usr" value="{{ edit_user.phone }}" name="phone"
                                               {% if not editable %}readonly{% endif %}>
                                        {% if editable %}
                                            <input style="margin-left: 10px" type="submit"
                                                   class="btn btn-primary btn-pill" value="Edit">

                                        {% endif %}

                                    </div>
                                </div>
                                {#                                <div class="col-8 col-md-6">#}
                                {#                                    <div class="media">#}
                                {#                                        <p>#}
                                {#                                            <label>#}
                                {#                                                Description:#}
                                {#                                            </label>#}
                                {#                                            <textarea cols="50" rows="5" size="14"#}
                                {#                                                      name="description">#}
                                {#                                                {{ user.description }}#}
                                {#                                        </textarea>#}
                                {#                                        </p>#}
                                {#                                    </div>#}
                                {#                                </div>#}
                            </div>


                        </div>
                    </div>
                    <div class="col-8 col-lg-6">
                        <div class="about-avatar">
                            <img src="{{ edit_user.photo.url }}" title="" alt="">
                        </div>
                        {% if editable %}
                            <input type="file" value="choose photo" name="photo">
                        {% endif %}

                    </div>
                </div>
            </form>
            {% if editable %}
                <form action="{% url 'change_password' %}" method="post">
                    {% csrf_token %}
                    <div class="row about-list">
                        <div style="margin-left: 570px" class="col-12 col-lg-9">
                            <div class="media">
                                <p>
                                    <label>
                                        Old Password:
                                    </label>
                                </p>
                                <input style="width: 300px;margin-left: 20px"
                                       type="password" class="form-control"
                                       id="usr" name="password">
                            </div>
                            <div class="media">
                                <p>
                                    <label>
                                        New Password:
                                    </label>
                                </p>
                                <input style="width: 300px;margin-left: 20px" type="password"
                                       class="form-control"
                                       id="usr" name="new_password">
                            </div>
                            <div class="media">
                                <p>
                                    <label>
                                        Retype New Password:
                                    </label>
                                </p>
                                <input style="width: 300px;margin-left: 20px" type="password"
                                       class="form-control"
                                       id="usr" name="confirm_new_password">
                                {% if editable %}
                                    <input style="margin-left: 10px" type="submit" class="btn btn-primary btn-pill"
                                           value="change">

                                {% endif %}

                            </div>

                        </div>
                    </div>
                </form>

            {% endif %}

            <div class="counter">
                <div class="row">
                    <div class="col-14 col-lg-10">
                        <div class="count-data text-center">
                            <h6 class="count h2" data-to="500" data-speed="500">
                                {{ edit_user.blog_set.count }}
                            </h6>
                            <p class="m-0px font-w-600">
                                All Blogss
                            </p>
                        </div>
                    </div>
                </div>


            </div>
            <br>
            <div class="row">
                {% for user_blog in user_blogs %}
                    <div class="col-12 col-sm-6">
                        <div class="post-card -small">
                            <a class="card__cover" href="{% url "post_view" user_blog.slug %}">
                                <!-- img size 370 x 247 -->
                                <img src="{{ user_blog.main_picture.url }}" alt="Why You Should Be Using React"/></a>
                            <!-- Post content -->
                            <div class="card__content">
                                <h5 class="card__content-category">Web Dev</h5>
                                <a class="card__content-title" href="{% url "post_view" user_blog.slug %}">
                                    {{ user_blog.title }}
                                </a>
                                <div class="card__content-info">
                                    <div class="info__time"><i class="far fa-clock"></i>
                                        <p>{{ user_blog.created_at|date:"M-d-Y" }}</p>
                                    </div>
                                    <div class="info__comment"><i class="far fa-comment"></i>
                                        <p>
                                            Comments: {{ user_blog.comment_count }}
                                            Views: {{ user_blog.view_count }}
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

        </div>
    </section>
    <style type="text/css">/*<![CDATA[*/
    body {
        color: #6F8BA4;
        margin-top: 20px;
    }

    .section {
        padding: 100px 0;
        position: relative;
    }

    .gray-bg {
        background-color: #f5f5f5;
    }

    img {
        max-width: 100%;
    }

    img {
        vertical-align: middle;
        border-style: none;
    }

    /* About Me
    ---------------------*/
    .about-text h3 {
        font-size: 45px;
        font-weight: 700;
        margin: 0 0 6px;
    }

    @media (max-width: 767px) {
        .about-text h3 {
            font-size: 35px;
        }
    }

    .about-text h6 {
        font-weight: 600;
        margin-bottom: 15px;
    }

    @media (max-width: 767px) {
        .about-text h6 {
            font-size: 18px;
        }
    }

    .about-text p {
        font-size: 18px;
        max-width: 450px;
    }

    .about-text p mark {
        font-weight: 600;
        color: #20247b;
    }

    .about-list {
        padding-top: 10px;
    }

    .about-list .media {
        padding: 5px 0;
    }

    .about-list label {
        color: #20247b;
        font-weight: 600;
        width: 88px;
        margin: 0;
        position: relative;
    }


    .about-list p {
        margin: 0;
        font-size: 15px;
    }

    @media (max-width: 991px) {
        .about-avatar {
            margin-top: 30px;
        }
    }

    .about-section .counter {
        padding: 22px 20px;
        background: #ffffff;
        border-radius: 10px;
        box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    }

    .about-section .counter .count-data {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    .about-section .counter .count {
        font-weight: 700;
        color: #20247b;
        margin: 0 0 5px;
    }

    .about-section .counter p {
        font-weight: 600;
        margin: 0;
    }

    .workorder-form textarea {
        width: 350px;
        height: 200px;
        padding-bottom: 5px;
    }

    mark {
        background-image: linear-gradient(rgba(252, 83, 86, 0.6), rgba(252, 83, 86, 0.6));
        background-size: 100% 3px;
        background-repeat: no-repeat;
        background-position: 0 bottom;
        background-color: transparent;
        padding: 0;
        color: currentColor;
    }

    .theme-color {
        color: #fc5356;
    }

    .dark-color {
        color: #20247b;
    }

    /*]]>*/</style>
    <script type="text/javascript">
        $(function () {
            $('#datetimepicker4').datetimepicker({
                pickTime: false
            });
        });
    </script>
</div>
</body>
</html>